holamundo.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost:8080/holamundo/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="holamundo" targetNamespace="http://localhost:8080/holamundo/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost:8080/holamundo/">
      <xsd:element name="HolaMundoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HolaMundoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HolaMundoRequest">
    <wsdl:part element="tns:HolaMundoRequest" name="peticion"/>
  </wsdl:message>
  <wsdl:message name="HolaMundoResponse">
    <wsdl:part element="tns:HolaMundoResponse" name="respuesta"/>
  </wsdl:message>
  <wsdl:portType name="holamundoType">
    <wsdl:operation name="HolaMundo">
      <wsdl:input message="tns:HolaMundoRequest"/>
      <wsdl:output message="tns:HolaMundoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="holamundoSOAP" type="tns:holamundoType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="HolaMundo">
      <soap:operation soapAction="http://localhost:8080/holamundo/HolaMundo"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="holamundo">
    <wsdl:port binding="tns:holamundoSOAP" name="holamundoSOAP">
      <soap:address location="http://localhost:8080/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
